@media screen and (max-width: 700px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1300px) {
  body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1300px) {
  body {
    font-size: 24px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1300px) {
  .container {
    width: 90%;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .logo-field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-field .name, .logo-field .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo-field .menu {
    margin: 1em;
    padding: 1em;
    border-top: 1px solid lightskyblue;
  }
}
@media screen and (min-width: 700px) {
  .logo-field {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .logo-field .name {
    border-right: 1px solid white;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: lightskyblue;
}

p {
  font-size: 0.75em;
  padding: 0.25em;
  margin: 0.25em 0;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  border-bottom: 5px solid lightskyblue;
  padding: 0.25em;
}

h2 {
  font-size: 1.3em;
  text-align: center;
  border-bottom: 3px solid lightskyblue;
  padding: 0.25em;
  margin: 0.25em 0;
}

h3 {
  font-size: 1.2em;
  border-bottom: 2px solid lightskyblue;
  padding: 0.25em;
  margin: 0.25em 0;
}

h4 {
  font-size: 1.1em;
  border-bottom: 2px solid lightskyblue;
  padding: 0.25em;
  margin: 0.25em 0;
}

h5 {
  font-size: 1em;
  border-bottom: 1px solid lightskyblue;
  padding: 0.25em;
  margin: 0.25em 0;
}

ul {
  font-size: 0.75em;
}
ul li::before {
  content: "u";
  font-family: je;
}

*::before {
  position: relative;
  top: 0.2em;
  margin-right: 0.25em;
}

a {
  color: white;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

input {
  outline: none;
  border: none;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

input[type=submit] {
  background: white;
  color: black;
  outline: none;
}

footer {
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  border-top: 1px solid lightskyblue;
  padding-top: 1em;
}

.container {
  background: steelblue;
  color: white;
  text-align: left;
  padding: 1em;
}

.divider {
  margin: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.divider .line {
  width: 95%;
  height: 1px;
  background: black;
  text-align: center;
}

.logo-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  border-bottom: 1px solid white;
}
.logo-field h1 {
  font-size: 3em;
  text-align: center;
  width: 100%;
  border: none;
}
.logo-field .down {
  color: white;
  font-size: 1.5em;
  padding: 2em 0;
}
.logo-field .name {
  padding-right: 1em;
}
.logo-field .name h1 {
  padding: 0;
}
.logo-field .menu {
  padding-left: 1em;
}

.present {
  padding: 1em;
  line-height: normal;
}
.present p {
  padding-left: 10px;
}
.present .info {
  padding: 0.5em 0 0 0.5em;
  font-size: 0.75em;
}
.present .problem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0 0.5em 1em;
  margin: 0.5em;
  border-bottom: 3px solid lightskyblue;
  border-radius: 0 0 0 20px;
  width: 40%;
}
.present .problem img {
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.25em;
}
.present .sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.present .sliders .slider-container {
  width: 90%;
  border: 1px solid lightskyblue;
  border-radius: 5px;
  margin-bottom: 0.25em;
}
.present .sliders .skill-number {
  width: 90%;
  background: cyan;
  border-radius: 5px 0 0 5px;
  padding: 0.25em;
  font-size: 0.75em;
}
.present .detailed {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.present .detailed p {
  margin-bottom: 0.25em;
}
.present .detailed .paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.present .detailed .paragraph img {
  width: 3em;
}
.present .detailed .paragraph p {
  width: 80%;
}

.network {
  padding: 0.5em;
}